<h1>New todo_item</h1>

<form class="form">
Task: <br/>
<textarea id="task" name="task" rows=10 cols=30 ></textarea> <br/>
<button>Add</button>
</form>

<div class="container">
  <ul class="not_done"> TODO:
  </ul>

  <ul class="done"> Completed:
  </ul>
</div>


<%= link_to 'Back', todo_items_path %>